/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau&display=swap');

/* General CSS */

body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: 'Ubuntu', sans-serif;
}
a{
    text-decoration: none;
    font-family: 'Ysabeau', sans-serif;
    font-size: 1.3rem;
    color: black;
}
a:hover{

}
button{
    font-family: 'Ysabeau', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
}

/* Header */

header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr ;
    gap: 5px;
}
.logoContainer{
    margin-left: 4rem;
}
#logo{
    max-width: 150px;
}
.nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: flex-end;
    align-items: center;
    margin-right: 3rem;
}
#book{
    height: 3rem;
    width: 6rem;
    justify-self: center;
    align-self: center;
}

/* ---- Main ---- */

#spotlight{
    background-image: url(assets/pexels-chan-walrus-958545.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no repeat;
    color: white;
    font-family: 'Ysabeau', sans-serif;
    display: grid;
    font-style: italic;
}
#spotlight>*{
    margin: 20rem 0 0 10rem;
    padding: 0;
    font-size: 6rem;
}
#spotlight>p{
    margin-top: 0;
    margin-bottom: 20rem;
    font-size: 2rem;
}
p>span{
    display: block;
}

/* Food-Info Section */

#foodInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.foodInfoImg{
    object-fit: cover;
    max-width: 22rem;
}

.food{

}

.drinks {
    
}
/* Footer */