/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Ysabeau&display=swap");

/* General CSS */

body {
  margin: 0;
  padding: 0;
  background-color: #232323;
  font-family: "Ysabeau", sans-serif;
  /* fulfills 5.2c */
  color: hsla(0, 0%, 100%, 1);
  display: grid;
}
/* fulfills 5.2d */
a {
  text-decoration: none;
  font-family: "Ysabeau", sans-serif;
  font-size: 1.3rem;
  color: #f2f2f2;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: palevioletred;
  transition-duration: 1s;
}

button {
  font-family: "Ysabeau", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  /* fulfills 5.2c */
  background-color: rgba(197, 194, 185, 1);
}
button:hover {
  background-color: #232323;
  color: white;
  transition: 400ms;
}
p > span {
  display: block;
}
/* fulfills 5.2a */
li {
  list-style-type: none;
}

/* Header */

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 5px;
}
.logoContainer {
  margin-left: 4rem;
}
#logo {
  max-width: 150px;
  cursor: pointer;
}
.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: flex-end;
  align-items: center;
  margin-right: 3rem;
}
#book {
  height: 3rem;
  width: 6rem;
  justify-self: center;
  align-self: center;
}

/* ---- Main ---- */

main {
  display: grid;
}
/* fulfils 5.1c, 5.2a,5.2b, 5.2e */
#spotlight {
  background-image: url(assets/Untitled\ design.png);
  margin: 1rem 10rem 1rem 10rem;
  border-radius: 15px;
  background-size: cover;
  background-position: center center;
  background-repeat: no repeat;
  color: white;
  display: grid;
  font-style: italic;
}
#spotlight > * {
  margin: 20rem 0 0 10rem;
  padding: 0;
  font-size: 6rem;
}
#spotlight > p {
  margin-top: 0;
  margin-bottom: 20rem;
  font-size: 2rem;
}

/* Food-Info Section */

#foodInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15rem;
}

.foodInfoImg {
  object-fit: cover;
  max-width: 25rem;
  border-radius: 6px;
}

.food > p,
.drinks > p {
  line-height: 2rem;
  font-size: 1.2rem;
  font-style: italic;
}
.food {
  display: grid;
  justify-content: flex-end;
  margin-top: 2rem;
}

.drinks {
  display: grid;
  margin-top: 5rem;
  gap: 2rem;
}

/* Story Section ( fulfills 5.2e )*/

#story {
  display: grid;
  justify-items: center;
  background-color: #363636;
  width: 80vw;
  place-self: center;
  border-radius: 10px;
  margin: 2rem 0 2rem 0;
}
#story > h2 {
  font-size: 3rem;
}
#story > p {
  font-size: 1.5rem;
  line-height: 3rem;
  text-align: center;
  padding: 0 12rem 0 12rem;
  letter-spacing: 0.2rem;
  font-style: italic;
}

/* Location Info */

#locationInfo {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  font-style: italic;
  padding: 1rem 0 3rem 0;
}

.locationText {
  font-size: 2rem;
  line-height: 3rem;
}

.locationText > button {
  height: 3rem;
  width: 8rem;
  border-radius: 10px;
}

.locationImages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  padding-right: 7rem;
}
.locationImages > img {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 5px;
}
/* Footer */

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  background-color: black;
  padding-top: 2rem;
  font-size: 1.3rem;
  color: #92a4b1;
}

/* cross reference page */

#crossReferenceHeader {
  text-align: center;
  margin: 1rem 0 3rem 0;
}
table,
td,
th {
  border: solid;
  border-collapse: collapse;
  border-width: 1px;
  font-size: 24px;
  margin: 0 10rem 2rem 10rem;
}
td {
  text-align: center;
}
